*{
    background-color: black;
    list-style: none;
    font-family: 'Roboto', sans-serif;

}

.imagem{
padding:2em;
}
#flex-parent{
    padding:3em 10em 10em 10em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;

}


#Passado, #Presente, #Futuro{
    width: 100%;
}
.flexy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#imagem{

    width:15em;
    height: 30em;
}
#titulo{
}